:root {
    --verde:#6DCCAA;
    --verdeclaro:#8BD9B4; 
  }


  *{
    margin: 0px;
    padding: 0px;
  }

  .bloqueprincipal {
    /* width: 100%; */
    /* max-width: 900px; */
    margin: 0px;
    padding: 0px;
}

.logo{
    background-color:var(--verdeclaro);
    height: 64px;    
}

/* .logo img{
    width: 100%; 
    min-width: 64px; 
} */

/* inicio estilo menu */
nav span {
    background-color: var(--verde);
    display: inline-block;
    display:  block;
    text-align: center;
    font-size: 16px;
    /* vertical-align: top; */
    line-height: 64px;
    /* width: 198px; */
    min-width: 190px; 
}

nav span a {
    text-decoration: none;
    line-height: 64px;
    color:rgb(255, 255, 255);
    font-weight: 550;
    font-size:large;
  
}

nav span:hover {
    background-color: var(--verdeclaro);
    box-shadow: 0px 8px 10px 4px gray;
    position: relative;
}

 
nav {
    width: 100%; 
}
/* Fin estilo menu */

/* estilo foto grande principal */
.fotogrande {
    height: 150px;
    overflow: hidden;
}

.fotogrande img {
   /*  width: 100%; */
    height: 200px; 
  /*   object-fit: cover; */
    width: 100%;
}

/* FIN estilo foto grande principal */

/* inicio estilo redes sociales */
div.redes i {
    width: 50px;
    height: 50px;
    background-color: white;
    text-align:center;
    border-radius: 25px;
    color:#6DCCAA;
   
  /*   vertical-align:top; */
    line-height: 50px;
    
/*  margin-top: 8px; */
    margin-left: 20px;
    margin-right: 20px; 
}
div.redes {
   /*  vertical-align:center; */
    margin-top: 1px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    text-align: center;
    /* display: block; */

    /* minimo 400px para que no se vean en columna */
   /*  min-width: 400px; */
    width: 100%;   
}

.redes {
    padding-top: 15ch;
    background-color:var(--verdeclaro);

    /* hace que la fila redes no se ordene 
    en columnas, solo fila con resolucion baja*/
   /*  min-width: 400px;   */
}
/* fin estilo redes sociales */

    /* inicio estilo contenido en 2 bloques pagina principal */

        /* test contenedor */
        .contenedorbloques {            
            text-align: center;
            }
    
            .bloque{         
             display:  block;
            font-weight: 100;
            font-size:normal;
            }
    
            .bloqueizquierda{
            text-align: right; 
            /* width: 30%;  */
            display: block;  
           /*  vertical-align: top; */
            }
    
            .bloquederecha{
            text-align: left; 
            /* width: 30%;  */
            display: inline-block;  
            }
    
            .fotoizquierda img {
            width: 100px; 
            /* object-fit: cover; */
            }
     
            .fotoderecha img {
            width: 100px; 
            /* object-fit: cover; */
            }
      
          /* fin estilo contenido en 2 bloques pagina principal */

/* inicio estilo galeria principal */
/* galeria mixta para resolucion menor que 401 */
 
.contenedor{
    display:grid;
    grid-template-columns: auto auto auto;

    grid-template-rows: 24px 
                        24px
                        24px 
                        24px 
                        24px 
                        24px  
                        24px ;
     

    }
    
    .item{
   
    background-color:var(--verdeclaro);

    /* este borde solo se hizo para diseñar la tabla  */
/*     border : 1px solid ; */

    text-align: center; 
    /* height: 6ch; */
    }
    
    .item:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    }
    
    .item:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    }
        
    .item:nth-child(3){
    grid-column: 3 / 4;
    grid-row:  1 / 7;
    }
    
    .item:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 5 / 8;
    }
    
    .item:nth-child(5){
    grid-column: 2/ 3;
    grid-row: 6 / 10;
    }
    
    .item:nth-child(6){
    grid-column: 3 / 4;
    grid-row: 7 / 10;
    }
    
    .item:nth-child(7){
    grid-column: 1 / 2;
    grid-row: 8 / 10;
    }

    /* inicio estilo galeria  */
.fotoperrochica{
    /*  height: 80px; */
     width: 80px;
     overflow: hidden;
    /*  height: 50%; */
    display:block;
    margin:0px auto;
 }
 
 #ft1, #ft4, #ft7{
     width: 130px;
     height: 80px;
 }
 
 #ft2, #ft5 {
     width: 80px;
     height: 130px;
 }
 
 #ft3  {
     width: 120px;
     height: 130px;
 }
 
 #ft6  {
     width: 130px;
     height: 80px;
 }
 

/* FIN galeria mixta para resolucion menor que 401 */

/* inicio estilo paginas individuales perritos */

.perritoindividual{
    /* height: 200px; */
    /* width: 200px;  */
    overflow: hidden;
    height: auto;
}
 
.perritoindividual img {
   /*  width: 100%; */
    height: 100%;
    object-fit: cover;
    width: 100%;
}

  /* inicio estilo footer */

  .footer{
    background-color: rgb(204, 199, 199);
}
  /* FIN estilo footer  */


  
@media (min-width: 401px)
{
    nav span {
        background-color: var(--verde);
        display: inline-block;
        /* display:  block; */
        text-align: center;
    /*  font-size: 10px; */
        /* vertical-align: top; */
    /*    line-height: 64px; */
     
        /* min-width: 80px;   */
        /* min-width: 50px;  */
    }

    nav span a {
    /*     text-decoration: none;
        line-height: 64px;
        color:rgb(255, 255, 255); */
        width: 10px;  
        font-weight: 400;
        font-size: x-large;    
    }

    /* inicio estilo contenido en 2 bloques pagina principal */

        /* test contenedor */
        .contenedorbloques {
        text-align: center;
        }

        .bloque{
        /* width: 40%;  */
        display: inline-block;  
        }

        .bloqueizquierda{
        text-align: right; 
        width: 30%; 
        display: inline-block;  
        vertical-align: top;
        margin-right: 10px; 
        }

        .bloquederecha{
        text-align: left; 
        width: 30%; 
        display: inline-block; 
        margin-left: 10px;  
        }

        .fotoizquierda img {
        width: 100px; 
        /* object-fit: cover; */
        }
 
        .fotoderecha img {
        width: 100px; 
        /* object-fit: cover; */
        }
  
      /* fin estilo contenido en 2 bloques pagina principal */

      /* inicio estilo foto grande principal */
        .fotogrande {
        height: 400px;
        overflow: hidden;
        }

        .fotogrande img {
        /*  width: 100%; */
        height: 100%; 
        /*   object-fit: cover; */
        width: 100%;
        }    
    /* FIN estilo foto grande principal */
 

}