:root {
    --verde:#6DCCAA;
    --verdeclaro:#8BD9B4; 
  }


  *{
    margin: 0px;
    padding: 0px;
  }

  .bloqueprincipal {
    /* width: 100%; */
    /* max-width: 900px; */
    margin: 0px;
    padding: 0px;
}

.logo{
    background-color:var(--verdeclaro);
    height: 64px;    
}

/* .logo img{
    width: 100%; 
    min-width: 64px; 
} */

/* inicio estilo menu */
nav span {
    background-color: var(--verde);
    display: inline-block;
    display:  block;
    text-align: center;
    font-size: 16px;
    /* vertical-align: top; */
    line-height: 64px;
    /* width: 198px; */
    min-width: 190px; 
}

nav span a {
    text-decoration: none;
    line-height: 64px;
    color:rgb(255, 255, 255);
    font-weight: 550;
    font-size:large;
  
}

nav span:hover {
    background-color: var(--verdeclaro);
    box-shadow: 0px 8px 10px 4px gray;
    position: relative;
}

 
nav {
    width: 100%; 
}
/* Fin estilo menu */

/* estilo foto grande principal */
.fotogrande {
    height: 150px;
    overflow: hidden;
}

.fotogrande img {
   /*  width: 100%; */
    height: 200px; 
  /*   object-fit: cover; */
    width: 100%;
}

/* FIN estilo foto grande principal */

/* inicio estilo redes sociales */
div.redes i {
    width: 50px;
    height: 50px;
    background-color: white;
    text-align:center;
    border-radius: 25px;
    color:#6DCCAA;
   
  /*   vertical-align:top; */
    line-height: 50px;
    
/*  margin-top: 8px; */
    margin-left: 20px;
    margin-right: 20px; 
}
div.redes {
   /*  vertical-align:center; */
    margin-top: 1px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    text-align: center;
    /* display: block; */

    /* minimo 400px para que no se vean en columna */
   /*  min-width: 400px; */
    width: 100%;   
}

.redes {
    padding-top: 15ch;
    background-color:var(--verdeclaro);

    /* hace que la fila redes no se ordene 
    en columnas, solo fila con resolucion baja*/
    min-width: 400px;  
}
/* fin estilo redes sociales */
